apiVersion: v1
kind: Service
metadata:
  name: mongo
  labels:
    app: mongo
    tier: database
spec:
  selector:
    app: mongo
    tier: database
  type: ClusterIP
  ports:
  - port: 27017
    targetPort: 27017
  ClusterIP: None